.wrapped-page {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 300;
}

.headline__container .headline__text {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
    width: 100%;
}
.headline__carousel {
    height: 100vh;
}
.headline__carousel img {
    height: 100vh;
}
.headline__container {
    position: relative;
}
.headline__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: #fff;
}
.headline__subtitle {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.item-center {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.img-carousel {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.carousel-caption {
    height: 50%;
}

.carousel-caption p {
    color: rgb(255, 239, 16);
    text-shadow: 2px 2px 5px black;
}

.carousel-caption h3 {
    font-size: 5em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    /* text-shadow: 3px 3px 10px black; */
}

/* article */
.article__container {
    padding: 6rem 0;
}
.article__container--dark {
    background-color: rgb(232, 231, 231);
}
.article__container--light {
    background-color: rgb(249 249 249);
}
.article__content {
    z-index: 1003;
}
.article__title {
    font-size: 4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: #fff;
}
.article__subtitle {
    color: #fff;
}
.article__row {
    max-width: 1200px;
    margin: auto !important;
    border-radius: 10px;
    margin-bottom: 3rem;
}
.article__row--headline {
}
.article__desc {
    display: inline-flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 2rem;
}
.article__desc h4 {
    font-size: 3rem;
    font-family: 'Poppins';
    font-weight: 900;
}
.article__desc--first {
}
.article__row__content {
    padding: 0 !important;
}

.article__photos img {
    width: 100%;
}

.article__headline {
    position: relative;
    z-index: 0;
}
.article__name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 3rem;
    bottom: 10rem;
    margin: 0 auto;
    background-color: #3a3a3a8c;
}

.locationsCarousel__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(
        0,
        0,
        0,
        0.5
    ); /* Ajuste o último valor (0.5) para controlar a opacidade da sobreposição */
    z-index: 1;
}
