.header__navbar {
}
.header__navbar .scroll {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-blend-mode: overlay;
}

.navDark {
    font-family: 'Nunito', sans-serif;
}

.nav-link {
    color: rgb(216, 216, 216) !important;
}

.nav-link.active,
.nav-link:hover {
    color: #fdd86a !important;
}

.svg-group p {
    margin: 15px 0px;
}

#hero {
    background: url('../../assets/images/bg.png') center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 5rem;
}
#hero h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0;
}
#hero a {
    margin: 1rem 0;
}

.header__pages {
    column-gap: 1rem;
}
