.cover-page {
    height: 100vh;
    /* background: pink; */
}

.subComponent {
    padding: 50px 0px;
}






.card {
    margin: 10px 0px;
}

@media (min-width: 284px) {
    .card-columns {
        margin: 0px 20px;
    }

    .tour-msg {
        margin: 0px 10px;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
    }

    .tour-msg {
        margin: 0px 20px;
    }
}

@media (min-width: 986px) {
    .card-columns {
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important;
    }

    .tour-msg {
        margin: 0px 50px;
    }
}



.tour-cover {
    width: 100%;
    margin: -50px auto 0;
}

.tour-cover img {
    width: 100%;
}

.tour-gallery img {
    width: 100%;
    object-fit: cover;
}

.tour-msg input,
.tour-msg textarea {
    width: 100%;
    margin: 5px;
    border: 1px solid #6c757d;
    padding: 10px;
    border-radius: 5px;
    background: none;
}

.msg input,
.msg textarea {
    width: 100%;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
}

.msg .btn {
    margin: 5px;
}

.reviews {
    background: #f1f1f1;
    padding: 40px 0px 80px 0px;
    margin: 0px;
}
.reviews h1 {
    font-family: 'Poppins';
    font-weight: 900;
}
.reviews p {
    margin-bottom: 3rem;
}
.reviews {
}
.reviews {
}
.reviews {
}
.reviews {
}

#aboutBody {
}










* {
    transition-duration: 0.3s;
}
