.cover-page {
  height: 100vh;
  /* background: pink; */
}

.navDark {
  background: rgba(0, 0, 0, 0.6);
}

#hero {
  background: url("./img/bg.png") center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#hero h1 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.wrapped-page {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.item-center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.img-carousel {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  height: 50%;
}

.carousel-caption h3 {
  font-size: 5em;
  font-weight: 700;
  text-shadow: 3px 3px 10px black;
}

.carousel-caption p {
  color: rgb(255, 239, 16);
  text-shadow: 2px 2px 5px black;
}
